---
// import { postData } from "../../data/resource/postData";
import Card from "./Card.astro";
import LoadMore from "./LoadMore";

import { fetchPosts } from "../../lib/getPostData.js";

const PAGE_SIZE = 6;
const { posts, pageInfo } = await fetchPosts(PAGE_SIZE);
---

<div class="w-full
flex flex-col gap-14
my-div_sm_gap mx-auto">
    <!-- search bar -->
    <div class="relative w-full max-w-[525px]">
        <input
            class="px-8 pr-14 py-4 border w-full
             border-paragraph outline-paragraph
             rounded-full name-input"
            placeholder="Search Resources.."
        />

        <img
            src="/src/assets/resource/search.png"
            alt="Search"
            class="absolute right-8 top-1/2 -translate-y-1/2
             w-5 h-5 pointer-events-none"
        />
    </div>

    <!-- post listing -->
    <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        {
            posts.map((post: any) => (
                <Card
                    title={post.title}
                    content={post.content}
                    image={post.featuredImage?.node?.sourceUrl}
                />
            ))
        }
    </div>

    <!-- load more button -->
    <LoadMore client:load pagesize={PAGE_SIZE} InitpageInfo={pageInfo} />
</div>
