---
const bgImage = "/src/assets/home/school.jpg";

const partner_1 = "/src/assets/about/partner_1.png";
const partner_2 = "/src/assets/about/partner_2.png";
const partner_3 = "/src/assets/about/partner_3.png";
const partner_4 = "/src/assets/about/partner_4.png";
---

<div
    class="w-full flex flex-col
         my-div_sm_gap lg:my-div_lg_gap
         gap-div_sm_gap lg:gap-div_lg_gap
         mx-auto"
>
    <!-- first section -->
    <div
        class="relative max-w-[1260px] 2xl:max-w-[90%] lg:h-[410px] w-full mx-auto rounded-3xl overflow-hidden"
    >
        <!-- Background image (lowest layer) -->
        <div
            class="absolute inset-0 bg-cover bg-top
     transition-transform duration-700
     z-0"
            style={`background-image: url('${bgImage}');`}
        >
        </div>

        <!-- Color overlay with opacity -->
        <div
            class="absolute inset-0 bg-[#00715D]/[0.83] md:bg-[#00715D]/[0.93] z-10"
        >
        </div>

        <!-- Content (top layer) -->
        <div
            class="relative z-20 h-full flex flex-col justify-center
 px-6 sm:px-10 lg:px-16"
        >
            <div
                class="max-w-[840px] 2xl:max-w-4xl my-div_sm_gap w-full flex flex-col lg:flex-row lg:gap-24 mx-auto items-start lg:items-center justify-center"
            >
                <!-- Small handwritten text -->
                <div>
                    <p
                        class="text-secondary font-handwriting text-lg lg:text-xl mb-3"
                    >
                        Immediate support needed
                    </p>

                    <!-- Main heading -->
                    <h1
                        class="font-nunito text-white font-extrabold mb-4 leading-tight
         whitespace-nowrap
         text-[22px] sm:text-[26px] md:text-[32px] lg:text-[44px]"
                    >
                        Help Us Fight Hunger Today
                    </h1>

                    <!-- Description -->
                    <p
                        class="text-base max-w-xl text-white/90 leading-relaxed mb-8"
                    >
                        Thousands of families struggle for daily meals. Your
                        immediate support helps us deliver food kits and
                        nutrition programs to those facing hunger.
                    </p>
                </div>
                <!-- Button -->
                <div
                    class="bg-secondary text-heading py-3 w-fit h-fit px-6 cursor-pointer font-medium rounded-full"
                >
                    Donate now
                </div>
            </div>
        </div>
    </div>

    <!-- second section -->
    <div
        class="relative max-w-[1260px] 2xl:max-w-[90%] w-full mx-auto overflow-hidden"
    >
        <div class="mx-auto w-fit flex mb-8 lg:mb-12 flex-col justify-center">
            <p class="text-primary text-xl text-center font-handwriting">
                Help & donate us now
            </p>
            <h1
                class="font-nunito text-3xl md:text-5xl
             text-heading font-bold text-center"
            >
                Our Partners and Supporters
            </h1>
        </div>
        <div
            class="grid grid-cols-2 gap-x-8 gap-y-6
               md:grid-cols-4 md:gap-10
               items-center"
        >
            <img src={partner_1} class="mx-auto h-10 object-contain" />
            <img src={partner_2} class="mx-auto h-10 object-contain" />
            <img src={partner_3} class="mx-auto h-10 object-contain" />
            <img src={partner_4} class="mx-auto h-10 object-contain" />
        </div>
    </div>
</div>
