---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/about/Banner.astro";
import Need from "../components/about/Need.astro";
import Overall from "../components/about/Overall.astro";
import CoreValue from "../components/about/CoreValue.astro";
import Team from "../components/about/Team.astro";
import Partners from "../components/about/Partners.astro";

import { fetchPageBySlug } from "../lib/getPageData";
import { extractSectionContent } from "../lib/ extractContent";
import { load } from "cheerio";

const page = await fetchPageBySlug("about");

const $ = load(page.content);

const bannerContent = extractSectionContent($(".banner"), {
    fields: {
        heading: { selector: "h2" },
        image: { selector: "img", attr: "src" },
    },
});

const overAllImages = extractSectionContent($(".overall"), {
    fields: {
        image_1: { selector: ".first_img img", attr: "src" },
        image_2: { selector: ".sec_img img", attr: "src" },
        image_3: { selector: ".third_img img", attr: "src" },
    },
});

const overAllCards = extractSectionContent($(".overall"), {
    cards: {
        selector: ".overall_card",
        fields: {
            heading: { selector: "h2" },
            content: { selector: "p" },
        },
        $,
    },
});

const coreValueContent = extractSectionContent($(".corevalue"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".corevalue_card",
        fields: {
            heading: { selector: "h2" },
            content: { selector: "p" },
        },
        $,
    },
});

const needContent = extractSectionContent($(".need"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".need_card",
        fields: {
            image: { selector: "img", attr: "src" },
            title: { selector: "h2" },
            content: { selector: "p" },
            btn_content: { selector: ".need_card_btn" },
        },
        $,
    },
});

const teamContent = extractSectionContent($(".team"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".team_card",
        fields: {
            image: { selector: "img", attr: "src" },
            name: { selector: "h2" },
            title: { selector: "p" },
        },
        $,
    },
});

const partnerContent = extractSectionContent($(".partner"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
        content: { selector: ".partner_content" },
        btn_content: { selector: ".partner_btn" },
    },
});

---

<Layout>
    <!-- overall container -->
    <main class="w-full">
        <Banner bannerContent={bannerContent} />
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Overall
                overAllImages={overAllImages}
                overAllCards={overAllCards}
            />
            <CoreValue coreValueContent={coreValueContent} />
            <Need needContent={needContent} />
            <Team teamContent={teamContent} />
            <Partners partnerContent={partnerContent} />
        </div>
    </main>
</Layout>
