---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/about/Banner.astro";
import Need from "../components/about/Need.astro";
import Overall from "../components/about/Overall.astro";
import CoreValue from "../components/about/CoreValue.astro";
import Team from "../components/about/Team.astro";
import Partners from "../components/about/Partners.astro";

import { fetchPageBySlug } from "../lib/getPageData";
import { extractAboutSections } from "../lib/extract/extractAbout";
import { load } from "cheerio";

const page = await fetchPageBySlug("about");

const $ = load(page.content);
const {
    bannerContent,
    overAllImages,
    overAllCards,
    coreValueContent,
    needContent,
    teamContent,
    partnerContent,
} = extractAboutSections($);

---

<Layout>
    <!-- overall container -->
    <main class="w-full">
        <Banner bannerContent={bannerContent} />
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Overall
                overAllImages={overAllImages}
                overAllCards={overAllCards}
            />
            <CoreValue coreValueContent={coreValueContent} />
            <Need needContent={needContent} />
            <Team teamContent={teamContent} />
            <Partners partnerContent={partnerContent} />
        </div>
    </main>
</Layout>
