---
import Layout from "../layouts/Layout.astro";

import Banner from "../components/Involved/Banner.astro";

import Contribution from "../components/Involved/Contribution.astro";
import Opportunities from "../components/Involved/Opportunities.astro";
import Member from "../components/Involved/Member.astro";
import Fund from "../components/Involved/Fund.astro";
import Adv from "../components/Involved/Adv.astro";
import Support from "../components/Involved/Support.astro";

import { fetchPageBySlug } from "../lib/getPageData";
import { extractSectionContent } from "../lib/ extractContent";
import { load } from "cheerio";

const page = await fetchPageBySlug("get-involved");

const $ = load(page.content);

const bannerContent = extractSectionContent($(".banner"), {
    fields: {
        heading: { selector: "h2" },
        image: { selector: "img", attr: "src" },
    },
});

const contriContent = extractSectionContent($(".contribution"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".cont_card",
        fields: {
            heading: { selector: "h2", format: "html" },
            value: { selector: ".value" },
            desc: { selector: "p" },
            lists: { selector: "ul li", multiple: true },
            btn_content: { selector: ".cont_btn" },
        },
        $,
    },
});

const oppContent = extractSectionContent($(".opportunities"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".opp_card",
        fields: {
            title: { selector: "h2", format: "html" },
            content: { selector: "p" },
            time: { selector: ".time" },
            btn_content: { selector: ".opp_btn" },
        },
        $,
    },
});

const memberContent = extractSectionContent($(".member"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".member_card",
        fields: {
            title: { selector: "h2", format: "html" },
            content: { selector: "p" },
            lists: { selector: "ul li", multiple: true },
            btn_content: { selector: ".member_btn" },
        },
        $,
    },
});

const fundContent = extractSectionContent($(".fund"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".fund_card",
        fields: {
            title: { selector: "h2", format: "html" },
            content: { selector: "p" },
            image: { selector: "img", attr: "src" },
        },
        $,
    },
});

const advContent = extractSectionContent($(".adv"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2", format: "html" },
        content: { selector: ".adv_content" },
        image: { selector: "img", attr: "src" },
    },
});

const supportContent = extractSectionContent($(".support"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2", format: "html" },
        btn_content: { selector: ".support_btn" },
    },
});

---

<Layout>
    <!-- overall container -->
    <Banner bannerContent={bannerContent} />
    <main class="w-full">
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Contribution contriContent={contriContent} />
            <Opportunities oppContent={oppContent} />
            <Member memberContent={memberContent} />
            <Fund fundContent={fundContent} />
        </div>
        <Adv advContent={advContent} />
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Support supportContent={supportContent} />
        </div>
    </main>
</Layout>
