---
import Layout from "../layouts/Layout.astro";

import Banner from "../components/Involved/Banner.astro";

import Contribution from "../components/Involved/Contribution.astro";
import Opportunities from "../components/Involved/Opportunities.astro";
import Member from "../components/Involved/Member.astro";
import Fund from "../components/Involved/Fund.astro";
import Adv from "../components/Involved/Adv.astro";
import Support from "../components/Involved/Support.astro";

import { fetchPageBySlug } from "../lib/getPageData";
import { extractInvolvedSections } from "../lib/extract/extractInvolved";
import { load } from "cheerio";

const page = await fetchPageBySlug("get-involved");

const $ = load(page.content);
const {
    bannerContent,
    contriContent,
    oppContent,
    memberContent,
    fundContent,
    advContent,
    supportContent,
} = extractInvolvedSections($);
---

<Layout>
    <!-- overall container -->
    <Banner bannerContent={bannerContent} />
    <main class="w-full">
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Contribution contriContent={contriContent} />
            <Opportunities oppContent={oppContent} />
            <Member memberContent={memberContent} />
            <Fund fundContent={fundContent} />
        </div>
        <Adv advContent={advContent} />
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Support supportContent={supportContent} />
        </div>
    </main>
</Layout>
