---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/home/Banner.astro";
import Need from "../components/home/Need.astro";
import Driven from "../components/home/Driven.astro";
import Hope from "../components/home/Hope.astro";
import Profile from "../components/home/Profile.astro";
import Reason from "../components/home/Reason.astro";

import { fetchPageBySlug } from "../lib/getPageData";
import { extractSectionContent } from "../lib/ extractContent";
import { load } from "cheerio";

const page = await fetchPageBySlug("home");

const $ = load(page.content);

const bannerContent = extractSectionContent($(".banner"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
        image: { selector: "img", attr: "src" },
        btn_content: { selector: ".banner_btn" },
    },
});

const drivenContent = extractSectionContent($(".driven"), {
    fields: {
        image: { selector: "img", attr: "src" },
        paragraph: { selector: "p" },
        heading: { selector: ".driver_heading", format: "html" },
        content: { selector: ".driver_content" },
        subContent: { selector: ".driver_subc" },
        btn_content: { selector: ".driver_btn" },
    },
});

const needContent = extractSectionContent($(".need"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".need_card",
        fields: {
            heading: { selector: "h2" },
            text: { selector: "p" },
            image: { selector: "img", attr: "src" },
        },
        $,
    },
});

const hopeContent = extractSectionContent($(".hope"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
        image: { selector: "img", attr: "src" },
    },
});

const profileContent = extractSectionContent($(".profile"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2" },
    },
    cards: {
        selector: ".profile_card",
        fields: {
            name: { selector: "h4" },
            role: { selector: "h6" },
            desc: { selector: "p" },
        },
        $,
    },
});

const reasonFirstSection = extractSectionContent($(".reason_first"), {
    cards: {
        selector: ".profile_card",
        fields: {
            heading: { selector: "h2", format: "html" },
            content: { selector: "p" },
            desc: { selector: "p" },
            lists: { selector: "ul li", multiple: true },
            btn_content: { selector: ".first_btn" },
        },
        $,
    },
});

const reasonSecondSection = extractSectionContent($(".reason_second"), {
    fields: {
        paragraph: { selector: "p" },
        heading: { selector: "h2", format: "html" },
        content: { selector: ".reason_content" },
        btn_content: { selector: ".reason_btn" },
    },
});

---

<Layout>
    <Banner bannerContent={bannerContent} />
    <!-- overall container -->
    <main class="w-full">
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Driven drivenContent={drivenContent} />
            <Need needContent={needContent} />
            <Hope hopeContent={hopeContent} />
            <Profile profileContent={profileContent} />
            <Reason
                reasonFirstSection={reasonFirstSection}
                reasonSecondSection={reasonSecondSection}
            />
        </div>
    </main>
</Layout>
