---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/home/Banner.astro";
import Need from "../components/home/Need.astro";
import Driven from "../components/home/Driven.astro";
import Hope from "../components/home/Hope.astro";
import Profile from "../components/home/Profile.astro";
import Reason from "../components/home/Reason.astro";

import { fetchPageBySlug } from "../lib/getPageData";
import { extractHomeSections } from "../lib/extract/extractHome";
import { load } from "cheerio";

const page = await fetchPageBySlug("home");

const $ = load(page.content);
const {
    bannerContent,
    drivenContent,
    needContent,
    hopeContent,
    profileContent,
    reasonFirstSection,
    reasonSecondSection,
} = extractHomeSections($);
---

<Layout>
    <Banner bannerContent={bannerContent} />
    <!-- overall container -->
    <main class="w-full">
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Driven drivenContent={drivenContent} />
            <Need needContent={needContent} />
            <Hope hopeContent={hopeContent} />
            <Profile profileContent={profileContent} />
            <Reason
                reasonFirstSection={reasonFirstSection}
                reasonSecondSection={reasonSecondSection}
            />
        </div>
    </main>
</Layout>
