---
import Card from "./Card.astro";
// import { homeSections } from "../../data/home/need_data";

const { needContent } = Astro.props;
const { paragraph, heading, cards } = needContent;
---

<div
    class="w-full bg-card mt-10 rounded-[28px] p-5 lg:p-24 flex flex-col gap-6"
>
    <div class="mx-auto w-fit flex flex-col justify-center">
        <p class="text-primary text-xl text-center font-handwriting">
            {paragraph}
        </p>
        <h1
            class="font-nunito text-3xl md:text-4xl text-heading font-bold max-w-xs text-center"
        >
            {heading}
        </h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
        {
            cards.map((each: any) => (
                <Card
                    title={each.heading}
                    content={each.text}
                    image={each.image}
                />
            ))
        }
    </div>
</div>
