---
const { contriContent } = Astro.props;
const { paragraph, heading, cards } = contriContent;
---

<div
    class="max-w-[1040px] 2xl:max-w-[1200px] w-full
  flex flex-col gap-10
  my-div_sm_gap lg:my-div_lg_gap
  mx-auto"
>
    <div class="mx-auto w-fit flex flex-col justify-center lg:mb-6">
        <p class="text-primary text-xl text-center font-handwriting">
            {paragraph}
        </p>

        <h1
            class="font-nunito text-3xl md:text-5xl text-heading font-bold text-center"
        >
            {heading}
        </h1>
    </div>

    <div
        class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8"
    >
        {
            cards.map((card: any, index: number) => (
                <div
                    class={`rounded-3xl p-6 sm:p-8 flex flex-col justify-center gap-6
        h-auto lg:h-[370px] 2xl:h-[400px]
        ${
            index === 1
                ? "border-2 border-primary bg-white"
                : "border border-[#ffe7b1]"
        }`}
                >
                    <div>
                        <h3 class="text-xl text-heading mb-3">
                            {card.heading}
                        </h3>

                        <p class="text-4xl sm:text-5xl font-light text-heading font-nunito mb-4">
                            {card.value}
                        </p>

                        <p class="text-paragraph">{card.desc}</p>
                    </div>

                    <button
                        class={`w-full py-3 rounded-full transition-colors
          ${
              index === 1
                  ? "bg-secondary text-heading"
                  : "bg-[#ffe7b1] text-heading"
          }`}
                    >
                        {card.btn_content}
                    </button>

                    <ul class="space-y-2">
                        {card.lists.map((item: any) => (
                            <li class="flex items-center gap-2 text-paragraph">
                                <span class="text-[#006951]">✔</span>
                                {item}
                            </li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</div>
