---
const { memberContent } = Astro.props;
const { paragraph, heading, cards } = memberContent;
---

<div
    class="max-w-[1060px] 2xl:max-w-[1200px] w-full
  flex flex-col
  my-div_sm_gap lg:my-div_lg_gap
  mx-auto"
>
    <div class="mx-auto w-fit flex flex-col justify-center mb-10">
        <p class="text-primary text-xl text-center font-handwriting">
            {paragraph}
        </p>

        <h1
            class="font-nunito text-3xl md:text-5xl text-heading font-bold text-center"
        >
            {heading}
        </h1>
    </div>

    <div class="w-full flex flex-col md:flex-row gap-6 sm:gap-8 lg:gap-10">
        {
            cards.map((card: any, index: number) => (
                <div
                    class={`w-full rounded-[30px] p-6 sm:p-8 lg:p-10
        flex flex-col justify-between
        min-h-[320px] lg:h-[350px]
        ${
            index === 1
                ? "border border-[#ffe7b1] bg-heading"
                : "border border-[#ffe7b1] bg-card"
        }`}
                >
                    <div class="space-y-3">
                        <h3
                            class={`text-xl sm:text-2xl font-semibold ${index === 1 ? "text-white" : "text-heading"}`}
                        >
                            {card.title}
                        </h3>

                        <p
                            class={`${index === 1 ? "text-gray-400" : "text-gray-600"} text-sm sm:text-base`}
                        >
                            {card.content}
                        </p>

                        <ul class="space-y-3 pt-2">
                            {card.lists.map((item: any) => (
                                <li
                                    class={`flex items-start gap-3 text-sm sm:text-base
                ${index === 1 ? "text-white/90" : "text-paragraph"}`}
                                >
                                    <span class="text-[#006951] font-bold">
                                        ✔
                                    </span>
                                    {item}
                                </li>
                            ))}
                        </ul>
                    </div>

                    <button
                        class="w-full mt-6 py-3
          bg-secondary hover:opacity-90
          text-heading rounded-full transition-all"
                    >
                        {card.btn_content}
                    </button>
                </div>
            ))
        }
    </div>
</div>
